# Mux API Configuration
# Get your API keys from: https://mux.com/api/v2/keys
VITE_MUX_TOKEN_ID=b0a473f7-c398-4605-b86c-347f8277ef16
VITE_MUX_TOKEN_SECRET=3seXqZ68Ww+lDQldPMOuKG8TCX2drqeQH/EwRzxg6SUg521KQmD0a1BkMp12mv6pGmLFP3zB9N9

# API Configuration
VITE_API_URL=http://127.0.0.1:8000

# AI TTS API Key (if using)
AI_TTS_API_KEY=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
